@import 'tailwindcss';

body {
  @apply bg-main-white text-main-black relative;

  font-family: 'Inter', sans-serif;
}

@theme {
  --color-main-black: #1b1b1b;
  --color-main-blue: #29007f;
  --color-main-orange: #db6a19;
  --color-main-white: #fff;
  --color-main-critical: #dc3545;

  --color-main-gray: #a5b4ca;
  --color-secondary-gray: #e5e9f0;
  --color-dark-gray: #5a79ad;

  --main-gradient: linear-gradient(90deg, #db6a19 0%, #29007f 100%);
  --light-gradient: linear-gradient(
    90deg,
    #e5e9f0 0%,
    #ffffff 50%,
    #e5e9f0 100%
  );

  --shadow-base: 0 8px 16px 0 #1b1b1b33;
}

@utility button {
  @apply transition-base h-[56px] w-full cursor-pointer rounded-[8px] px-[64px] text-[20px] whitespace-nowrap transition-colors md:h-[80px] md:rounded-[16px] md:text-[28px] xl:h-[96px];
}

@utility section-container {
  @apply px-[18px] md:px-[32px] xl:px-[64px];
}

@utility button-primary {
  @apply button bg-main-orange hover:shadow-base text-white transition-shadow;
}

@utility button-secondary {
  @apply button bg-main-white text-main-black hover:bg-main-orange hover:text-main-white;
}

@utility transition-base {
  @apply duration-300;
}

@utility section-container {
  @apply px-[18px] md:px-[32px] xl:px-[64px];
}

@utility hero-title {
  @apply text-main-white hover:text-main-orange transition-base text-[32px] font-bold hover:translate-x-10 md:text-[64px] xl:text-[80px];
}
